{% extends ':default:base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        {% for post in pagination %}
            <h1><a href="{{ url('show_post', {slug: post.slug}) }}">{{ post.title }}</a></h1>
            <p>{{ post.description }}</p>
            <hr>
        {% endfor %}
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

