{% extends ':default:base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <h1>{{ post.title }}</h1>
        <p>{{ post.description }}</p>
        {% if post.category.name is defined %}
            <div>
                <span class="badge">{{ post.category.name }}</span>
            </div>
        {% endif %}
    </div>
{% endblock %}

