{% extends ':default:base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <h1><a href="{{ url('homepage') }}">Alice in Wonderland, part dos</a></h1>
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they
            both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to
            the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
            'Yes, we went to school in the sea, though you mayn't believe it—'
            'I never said I didn't!' interrupted Alice.
            'You did,' said the Mock Turtle.</p>
    </div>
{% endblock %}

